In [1]:
import numpy as np
import pandas as pd
from pymongo.mongo_client import MongoClient

In [2]:
client = MongoClient("mongodb+srv://compound3:Compound3@cluster0.oxcb8wy.mongodb.net/compound")

In [3]:
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [5]:
db = client.compound
collection = db.supply
df = pd.DataFrame(list(collection.find({"repay": True})))   
df2 = df[df['works'] == False]
print('Error Rate: ', round(df2.index.size / df.index.size, 4))

Error Rate:  0.1006

In [6]:
df2.tail()

,_id,from,dst,amount,block,repay,utilization,borrowRate,supplyRate,totalSupply,totalBorrow,reserves,breakevenRate,works
3085,6598fee52b5230cfec29e7fc,0xecdED8b1c603cF21299835f1DFBE37f10F2a29Af,0xecdED8b1c603cF21299835f1DFBE37f10F2a29Af,40000.000000,17827643,True,0.998162,0.218616,0.218490,3.908438e+08,3.901254e+08,1.334347e+06,0.218892,False
3086,6598feea2b5230cfec29e7fe,0x4091243E3fB5E637D06c265C6EAe1Be7fb8460Ce,0x4091243E3fB5E637D06c265C6EAe1Be7fb8460Ce,25776.419500,17828028,True,0.999044,0.220202,0.220616,3.904627e+08,3.900895e+08,1.334337e+06,0.220827,False
3087,6598feef2b5230cfec29e800,0x4091243E3fB5E637D06c265C6EAe1Be7fb8460Ce,0x4091243E3fB5E637D06c265C6EAe1Be7fb8460Ce,10000.000000,17828044,True,0.998978,0.220084,0.220457,3.904629e+08,3.900638e+08,1.334336e+06,0.220683,False
3103,6598ffd52b5230cfec29e860,0x5889d3094799DcC8D22869d3eCC1D78753b1bE4F,0x5889d3094799DcC8D22869d3eCC1D78753b1bE4F,28930.742883,17837519,True,0.999147,0.220387,0.220864,3.889836e+08,3.886517e+08,1.334817e+06,0.221052,False
3123,659902a62b5230cfec29e992,0x373aDc79FF63d5076D0685cA35031339d4E0Da82,0x373aDc79FF63d5076D0685cA35031339d4E0Da82,10009.346180,17891153,True,1.002735,0.226839,0.229512,3.982899e+08,3.993794e+08,1.347719e+06,0.229512,False